streamlit
# Python 3.13 compatibility: streamlit still imports stdlib imghdr.
standard-imghdr
# Utilitites 
numpy
pandas

# FACE RECOGNITION
scikit-learn
dlib-bin
git+https://github.com/ageitgey/face_recognition_models
setuptools<70.0.0


supabase
bcrypt



segno
pillow



librosa
resemblyzer

streamlit
